body {
  background-image: url("BackgroundCart.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
script{
    background-image: url("BackgroundCart.jpg");
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}